 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


    body {
      background-color: paleturquoise;
    }

    h1 {
      text-align: center;
      font-size: 40px;
    }

    .bookForm {
      display: flex;
      justify-content: center;
      max-height: 50vh;

    }
    form {
     font-size: 25px;
     
     
    }

    td {
      background-color: red;
    }

    form label, form input {
      margin-bottom: 0.5rem ; /* Adds space below each element */
      display: block; /* Ensures each element is on a new line */
    }

    .addBook {
      padding: 1rem;
      background-color: lightblue; /* Initial background color */
      border: 1px solid black;
  }
  
  .addBook:hover {
      background-color: darkblue; /* Background color changes on hover */
      color: white; /* Change text color on hover */
      cursor: pointer; /* Shows a pointer cursor on hover */
  }
  
  .addBook:active {
   background-color: blueviolet;
   transform: scale(0.90);
  }
    
    /* Class made from javascript DOM. Setting the size */
    /* Only doing this to the dynamically made first child so 
       multiple tables under the container div don't need br tags.   
       and spacing is consistant after that.   
       */
    .bookTable:first-child {
    border: 1px solid;
    margin-top: 1rem;
    }

    .bookTable {
      border: 1px solid;
      margin-top: 1rem;
      }

      .removeBook {
         --custom_color: hsl(0, 73%, 50%);
         padding: 2rem;
         margin-left: 2rem;
         background-color: var(--custom_color);
        
      }
     

      .toggleBook {
         --custom_color: hsl(120, 95%, 38%);
         padding: 2rem;
         margin-left: 2rem;
         background-color: var(--custom_color);
      }

      .removeBook:hover, .toggleBook:hover{
         background-color: goldenrod;
         color: white;
         cursor: pointer;
      }

    /* Class made from javascript DOM. Setting the flexbox up
      All children (.bookDiv) will be centered and made as columns below
      User form.
    */

    #container {
      display: flex;
      align-items: center;
      flex-direction: column;

    }
